* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to left, #ffb4a1, #f95a5a);
  color: rgb(48, 46, 48);
}
.container {
  width: 22%;

  border: 2px solid #e84393;
  border-radius: 15px;
  padding: 35px 20px;
  background-color: #fab1a0;
}
.title {
  margin-bottom: 20px;
  text-align: center;
}
label,
input {
  display: block;
  width: 100%;
}
input {
  height: 2.3em;
  margin-top: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1.05rem;
  background-color: bisque;
}
label {
  margin-top: 20px;
  font-size: 1.2rem;
}
#result {
  margin-top: 30px;
  font-size: 1.1rem;
}
